NumbersGameWCFWebClient/Service References/NumbersGameServiceReference/scottlogic.co.uk.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://scottlogic.co.uk" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://scottlogic.co.uk" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://scottlogic.co.uk/Imports">
      <xsd:import namespace="http://scottlogic.co.uk" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INumbersGameService_GetStandardGame_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStandardGame" />
  </wsdl:message>
  <wsdl:message name="INumbersGameService_GetStandardGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStandardGameResponse" />
  </wsdl:message>
  <wsdl:message name="INumbersGameService_GetAdvancedGame_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdvancedGame" />
  </wsdl:message>
  <wsdl:message name="INumbersGameService_GetAdvancedGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdvancedGameResponse" />
  </wsdl:message>
  <wsdl:portType name="INumbersGameService">
    <wsdl:operation name="GetStandardGame">
      <wsdl:input wsaw:Action="http://scottlogic.co.uk/INumbersGameService/GetStandardGame" message="tns:INumbersGameService_GetStandardGame_InputMessage" />
      <wsdl:output wsaw:Action="http://scottlogic.co.uk/INumbersGameService/GetStandardGameResponse" message="tns:INumbersGameService_GetStandardGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdvancedGame">
      <wsdl:input wsaw:Action="http://scottlogic.co.uk/INumbersGameService/GetAdvancedGame" message="tns:INumbersGameService_GetAdvancedGame_InputMessage" />
      <wsdl:output wsaw:Action="http://scottlogic.co.uk/INumbersGameService/GetAdvancedGameResponse" message="tns:INumbersGameService_GetAdvancedGame_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>