NumbersGameWCFWebClient/Service References/NumbersGameServiceReference/scottlogic.co.uk.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://scottlogic.co.uk" elementFormDefault="qualified" targetNamespace="http://scottlogic.co.uk" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetStandardGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numBigValues" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandardGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStandardGameResult" type="xs:boolean" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="initialValues" nillable="true" type="q1:ArrayOfint" />
        <xs:element minOccurs="0" name="target" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvancedGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numBigValues" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvancedGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAdvancedGameResult" type="xs:boolean" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="initialValues" nillable="true" type="q2:ArrayOfint" />
        <xs:element minOccurs="0" name="target" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>